.app {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  width: 20%; /* 20% for the sidebar */
  background-color: #f4f4f4; /* Light background for the sidebar */
  padding: 1rem;
}

.chat-container {
  width: 80%; /* 80% for the chat */
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* Background for chat window */
}

.chat-window {
  flex-grow: 1; /* Chat window takes the remaining height */
  overflow-y: auto;
  padding: 1rem;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}

.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.clear-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #888;
  margin-right: 0.5rem;
}

.send-button {
  background: #0088cc; /* Telegram blue */
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.send-button svg {
  color: white; /* White color for the send icon */
}

.navbar {
  background-color: #f4f4f4;
  padding: 1rem;
  display: flex;
  align-items: center; /* Vertically aligns items */
  justify-content: space-between; /* Ensures there's space between elements if needed */
}

.chatbot-header {
  display: flex;
  align-items: center; /* Align image and text on the same line */
}

.logos {
  width: 50px; /* Adjust the width of the bot image */
  height: 50px; /* Adjust the height of the bot image */
  margin-right: 10px; /* Add some space between the image and text */
}

h1 {
  font-size: 1.5rem; /* Adjust font size if needed */
  margin: 0; /* Remove any default margin */
}

.messages-container {
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 70%;
}

.message.user {
  align-self: flex-end; /* Aligns user messages to the right */
  background-color: yellowgreen; /* User's message background color */
  border-radius: 15px 15px 0 15px;
  padding: 10px;
  color: white;
}

.message.bot {
  align-self: flex-start; /* Aligns bot messages to the left */
  background-color: #f0f0f0; /* Bot's message background color */
  border-radius: 15px 15px 15px 0;
  padding: 10px;
  color: black;
}

.message-content {
  position: relative;
}

.timestamp {
  font-size: 0.75rem;
  color: #555;
  text-align: right;
  margin-top: 5px;
}

.message.user .timestamp {
  text-align: left; /* Align timestamp to the left for user messages */
  color: #fff;
}

.message.bot .timestamp {
  text-align: right; /* Align timestamp to the right for bot messages */
  color: #333;
}


